# Node.js / Express.js
node_modules/

# Environment variables
.env

# Logs
*.log

# Build output
/dist
/build

# Dependency directories
jspm_packages/

# OS-specific files
.DS_Store
Thumbs.db

# npm package lock files (if you are using Yarn, replace with yarn.lock)
package-lock.json

# Coverage directory used by tools like Jest
coverage/

# Temporary files
*.tmp
*.swp
*.bak

# VS Code settings
.vscode/

# IntelliJ IDEA / JetBrains
.idea/

# Other
npm-debug.log*
yarn-debug.log*
yarn-error.log*
